body {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #F7F7F7
}

.bottom-buttons {
  padding-top: 10px;
}

.carousel-indicators {
  bottom: 0px;  
}

.carousel-caption {
  bottom: 30px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  left: 10%;
  right: 10%;
  padding: 0;
}

.carousel-control {
    width: 10%;
}
.carousel-control.left {
    background-image: none
}

.carousel-control.right {
    background-image: none;
}