[Desktop Entry]
Type=Application
Name=ghostwriter
Name[ca]=ghostwriter
Name[ca@valencia]=ghostwriter
Name[cs]=ghostwriter
Name[de]=Ghostwriter
Name[en_GB]=ghostwriter
Name[eo]=ghostwriter
Name[es]=ghostwriter
Name[eu]=ghostwriter
Name[fi]=ghostwriter
Name[fr]=Ghostwriter
Name[gl]=ghostwriter
Name[he]=ghostwriter
Name[hi]=असली लेखक
Name[ia]=ghostwriter
Name[id]=ghostwriter
Name[it]=ghostwriter
Name[ka]=ghostwriter
Name[ko]=ghostwriter
Name[nl]=ghostwriter
Name[pl]=ghostwriter
Name[pt]=ghostwriter
Name[pt_BR]=ghostwriter
Name[ru]=ghostwriter
Name[sa]=भूतलेखकः
Name[sk]=ghostwriter
Name[sl]=ghostwriter
Name[sv]=ghostwriter
Name[tr]=ghostwriter
Name[uk]=ghostwriter
Name[x-test]=xxghostwriterxx
Name[zh_CN]=ghostwriter
Name[zh_TW]=ghostwriter
GenericName=Markdown Editor
GenericName[ca]=Editor de Markdown
GenericName[ca@valencia]=Editor de Markdown
GenericName[cs]=Editor Markdown
GenericName[de]=Markdown-Editor
GenericName[en_GB]=Markdown Editor
GenericName[eo]=Markdown-Redaktilo
GenericName[es]=Editor Markdown
GenericName[eu]=«Markdown» Editorea
GenericName[fi]=Markdown-muokkain
GenericName[fr]=Éditeur de langage « Markdown »
GenericName[gl]=Editor de Markdown
GenericName[he]=עורך Markdown
GenericName[hi]=मार्कडाउन संपादक
GenericName[ia]=Editor de Markdown
GenericName[id]=Penyunting Markdown
GenericName[it]=Editor Markdown
GenericName[ka]=Markdown-ის რედაქტორი
GenericName[ko]=Markdown 편집기
GenericName[nl]=Bewerker voor Markdown
GenericName[pl]=Edytor markdown
GenericName[pt]=Editor de Markdown
GenericName[pt_BR]=Editor markdown
GenericName[ru]=Редактор Markdown
GenericName[sa]=मार्कडाउन सम्पादक
GenericName[sl]=Urejevalnik Markdown
GenericName[sv]=Markdown-editor
GenericName[tr]=Markdown Düzenleyicisi
GenericName[uk]=Редактор Markdown
GenericName[x-test]=xxMarkdown Editorxx
GenericName[zh_CN]= Markdown 编辑器
GenericName[zh_TW]=Markdown 編輯器
Comment=Distraction-free text editor for Markdown
Comment[ca]=Editor de text lliure de distraccions per al Markdown
Comment[ca@valencia]=Editor de text lliure de distraccions per a Markdown
Comment[de]=Ablenkungsfreier Texteditor für Markdown
Comment[en_GB]=Distraction-free text editor for Markdown
Comment[eo]=Senpretenda tekstredaktilo por Markdown
Comment[es]=Editor de texto sin distracciones para Markdown
Comment[eu]=«Markdown»erako distrakziorik gabeko testu editorea
Comment[fi]=Häiriöttömän tilan Markdown-tekstimuokkain
Comment[fr]=Éditeur de texte sans distraction pour le langage « Markdown »
Comment[gl]=Editor de texto Markdown sen distraccións.
Comment[he]=עורך טקסט Markdown נטול הסחות
Comment[hi]=मार्कडाउन के लिए विकर्षण-मुक्त पाठ संपादक
Comment[ia]=Editor de texto libere de distraction per Markdown
Comment[id]=Penyunting teks tanpa gangguan untuk Markdown
Comment[it]=Editor di testo senza distrazioni per Markdown
Comment[ka]=ფოკუსირებული მარკდაუნის რედაქტორი
Comment[ko]=방해받지 않는 Markdown 편집기
Comment[nl]=Tekstbewerker zonder afleiding voor Markdown
Comment[pl]=Nierozpraszający edytor tekstowy do Markdown
Comment[pt]=Editor de texto em Markdown sem distracções
Comment[pt_BR]=Editor de texto livre de distrações para Markdown
Comment[ru]=Редактор Markdown для сосредоточенной работы
Comment[sa]=Markdown कृते विक्षेप-रहितः पाठसम्पादकः
Comment[sl]=Urejevalnik besedil brez motenj za Markdown
Comment[sv]=Störningsfri texteditor för Markdown
Comment[tr]=Dikkati dağıtmayan bir Markdown metin düzenleyicisi
Comment[uk]=Ненав'язливий текстовий редактор для Markdown
Comment[x-test]=xxDistraction-free text editor for Markdownxx
Comment[zh_CN]=不受干扰的 Markdown 编辑器
Comment[zh_TW]=不分散注意力的 Markdown 用文字編輯器
Icon=ghostwriter
TryExec=ghostwriter
Exec=ghostwriter %f
Terminal=false
MimeType=text/plain;text/markdown;text/x-markdown;
Categories=Qt;Office;WordProcessor;
Keywords=Markdown;editor;document;fullscreen;distraction;concentration;focused;writing;
Keywords[ca]=Markdown;editor;document;pantalla completa;distracció;concentració;enfocat;escriptura;
Keywords[ca@valencia]=Markdown;editor;document;pantalla completa;distracció;concentració;enfocat;escriptura;
Keywords[en_GB]=Markdown;editor;document;fullscreen;distraction;concentration;focused;writing;
Keywords[eo]=Markdown;redaktilo;dokumento;plenekrana;distriĝo;koncentriĝo;fokusita;
Keywords[es]=Markdown;editor;documento;pantalla completa;distracciones;concentración;centrado;enfocado;escritura;escribir;
Keywords[eu]=Markdown;editorea;dokumentua;pantaila-betea;pantaila-osoa;distrakzio;kontzentrazioa;arreta ipinita;idaztea;
Keywords[fi]=Markdown;muokkain;editori;tiedosto;dokumentti;asiakirja;koko näyttö;häiriö;häiriötön;keskittyminen;kirjoittaminen;kirjoitus;
Keywords[fr]=Markdown;éditeur;document;plein écran;distraction;concentration;concentré;écriture;
Keywords[gl]=Markdown;editor;documento;pantalla completa;distracción;concentración;centrarse;escribir;
Keywords[he]=Markdown;עורך;מסמך;מסך מלא;הסחה;הסחות;מיקוד;ריכוז;ממוקד;ממוקדת;מרוכז;מרוכזת;כתיבה;ספרות;שירה;
Keywords[hi]=मार्कडाउन; संपादक; दस्तावेज़; पूर्ण स्क्रीन; व्याकुलता; एकाग्रता; केंद्रित; लेखन;
Keywords[ia]=Markdown;editor;documento;fullscreen;distraction;concentration;focused;writing;
Keywords[id]=Markdown;editor;penyunting;layar penuh;gangguan;konsentrasi;terfokus;penulis;menulis;
Keywords[it]=Markdown;editor;documento;schermo intero;distrazione;concentrazione;focalizzato;scrittura;
Keywords[ka]=Markdown;editor;document;fullscreen;distraction;concentration;focused;writing;
Keywords[ko]=Markdown;editor;document;fullscreen;distraction;concentration;focused;writing;마크다운;편집기;문서;전체 화면;전체화면;집중;방해;초점;글쓰기;쓰기;
Keywords[nl]=Markdown;editor;bewerker;document;volledig scherm;afleiding;concentratie;gefocust;schrijven;
Keywords[pl]=Markdown;edytor;dokument;pełny ekran;rozpraszanie;koncentracja;skupienie;pisanie;
Keywords[pt]=Markdown;editor;documento;ecrã completo;distracção;concentração;focado;escrita;
Keywords[pt_BR]=Markdown;editor;documento;tela cheia;distração;concentração;focado;escrita;
Keywords[ru]=Markdown;редактор;документ;полноэкранный;отвлекающий фактор;концентрация;сосредоточенность;написание;
Keywords[sa]=Markdown;सम्पादक;दस्तावेज;पूर्णपर्दे;विक्षेप; एकाग्रता;केन्द्रित;लेखन;
Keywords[sl]=Markdown;urejevalnik;dokument;celotni zaslon;motnje;koncentracija;osredotočeno;pisanje;
Keywords[sv]=Markdown;editor;dokument;fullskärm;störning;koncentration;fokus;skriva;
Keywords[tr]=markdown;düzenleyici;editör;belge;tam ekran;dikkat;odak;yazım;yazma;
Keywords[uk]=Markdown;editor;document;fullscreen;distraction;concentration;focused;writing;маркдаун;редактор;документ;повноекранний;ненав'язливий;концентрація;фокус;акцент;написання;створення;
Keywords[x-test]=xxMarkdownxx;xxeditorxx;xxdocumentxx;xxfullscreenxx;xxdistractionxx;xxconcentrationxx;xxfocusedxx;xxwritingxx;
Keywords[zh_CN]=Markdown;editor;document;fullscreen;distraction;concentration;focused;write;标记语法;编辑器;文本;文档;全屏;集中;写作;biaojiyufa;bianjiqi;wendang;wenben;quanping;jizhong;xiezuo;
Keywords[zh_TW]=Markdown;editor;document;fullscreen;distraction;concentration;focused;writing;寫作;編輯器;文件;分心;專注;
