[Desktop Entry]
Type=Application
Name=ghostwriter
Name[ca]=ghostwriter
Name[ca@valencia]=ghostwriter
Name[es]=ghostwriter
Name[nl]=ghostwriter
Name[pt]=ghostwriter
Name[sl]=ghostwriter
Name[tr]=ghostwriter
Name[uk]=ghostwriter
Name[x-test]=xxghostwriterxx
GenericName=Markdown Editor
GenericName[ca]=Editor de Markdown
GenericName[ca@valencia]=Editor de Markdown
GenericName[es]=Editor Markdown
GenericName[nl]=Bewerker voor Markdown
GenericName[pt]=Editor de Markdown
GenericName[sl]=Urejevalnik Markdown
GenericName[tr]=Markdown Düzenleyici
GenericName[uk]=Редактор Markdown
GenericName[x-test]=xxMarkdown Editorxx
Comment=Distraction-free text editor for Markdown
Comment[ca]=Editor de text lliure de distraccions per al Markdown
Comment[ca@valencia]=Editor de text lliure de distraccions per a Markdown
Comment[es]=Editor de texto sin distracciones para Markdown
Comment[nl]=Tekstbewerker zonder afleiding voor Markdown
Comment[pt]=Editor de texto em Markdown sem distracções
Comment[sl]=Urejevalnik besedil brez motenj za Markdown
Comment[tr]=Markdown için, dikkat dağıtmayan bir metin düzenleyici
Comment[uk]=Ненав'язливий текстовий редактор для Markdown
Comment[x-test]=xxDistraction-free text editor for Markdownxx
Icon=ghostwriter
TryExec=ghostwriter
Exec=ghostwriter %f
Terminal=false
MimeType=text/plain;text/markdown;text/x-markdown;
Categories=Qt;Office;WordProcessor;
Keywords=Markdown;editor;document;fullscreen;distraction;concentration;focused;writing;
Keywords[ca]=Markdown;editor;document;pantalla completa;distracció;concentració;enfocat;escriptura;
Keywords[ca@valencia]=Markdown;editor;document;pantalla completa;distracció;concentració;enfocat;escriptura;
Keywords[es]=Markdown;editor;documento;pantalla completa;distracciones;concentración;centrado;enfocado;escritura;escribir;
Keywords[nl]=Markdown;editor;bewerker;document;volledig scherm;afleiding;concentratie;gefocust;schrijven;
Keywords[pt]=Markdown;editor;documento;ecrã completo;distracção;concentração;focado;escrita;
Keywords[sl]=Markdown;urejevalnik;dokument;celotni zaslon;motnje;koncentracija;osredotočeno;pisanje;
Keywords[tr]=markdown;düzenleyici;editör;belge;tam ekran;dikkat;odak;yazım;yazma;
Keywords[uk]=Markdown;editor;document;fullscreen;distraction;concentration;focused;writing;маркдаун;редактор;документ;повноекранний;ненав'язливий;концентрація;фокус;акцент;написання;створення;
Keywords[x-test]=xxMarkdownxx;xxeditorxx;xxdocumentxx;xxfullscreenxx;xxdistractionxx;xxconcentrationxx;xxfocusedxx;xxwritingxx;
