[Desktop Entry]
Type=Application
Name=ghostwriter
GenericName=Markdown Editor
GenericName[ru]=Редактор Markdown
Comment=Distraction-free text editor for Markdown
Comment[ru]=Текстовый редактор Markdown для сосредоточенной работы
Icon=ghostwriter
TryExec=ghostwriter
Exec=ghostwriter %f
Terminal=false
MimeType=text/plain;text/markdown;text/x-markdown;
Categories=Qt;Office;WordProcessor;
Keywords=Markdown;editor;document;fullscreen;distraction;concentration;focused;writing;
